@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    /* Piksel fontu */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    text-align: center;
}

canvas {
    background-color: #000;
    border: 4px solid #4CAF50;
    box-shadow: 0 0 20px rgba(76, 175, 80, 0.5);
    display: block;
    margin: 20px auto;
}

.score-board {
    font-size: 20px;
    margin-bottom: 10px;
    color: #4CAF50;
    text-shadow: 2px 2px #000;
}

.instruction {
    color: #888;
    font-size: 10px;
    margin-top: 10px;
    font-family: sans-serif;
}